@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500&display=swap');

:root {
  /* Typography System */
  --font-onest: 'Onest', system-ui, sans-serif;
  
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;

  --fs-h1: 45px;
  --fs-h2: 42px;
  --fs-h3: 36px;
  --fs-body: 20px;
  --fs-table: 18px;
  --fs-smalls: 16px;

  --lh-tight: 120%;
  --lh-auto: normal;

  /* Base Setup */
  font-family: var(--font-onest);
  line-height: var(--lh-auto);
  font-weight: var(--fw-regular);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base Elements */
h1 {
  font-family: var(--font-onest);
  font-weight: var(--fw-medium);
  font-size: var(--fs-h1);
  line-height: var(--lh-tight);
}

h2 {
  font-family: var(--font-onest);
  font-weight: var(--fw-regular);
  font-size: var(--fs-h2);
  line-height: var(--lh-auto);
}

h3 {
  font-family: var(--font-onest);
  font-weight: var(--fw-medium);
  font-size: var(--fs-h3);
  line-height: var(--lh-auto);
}

/* Utility Classes */
.text-body {
  font-family: var(--font-onest);
  font-weight: var(--fw-light);
  font-size: var(--fs-body);
  line-height: var(--lh-auto);
}

.text-table-heading {
  font-family: var(--font-onest);
  font-weight: var(--fw-light);
  font-size: var(--fs-table);
  line-height: var(--lh-auto);
}

.text-smalls {
  font-family: var(--font-onest);
  font-weight: var(--fw-regular);
  font-size: var(--fs-smalls);
  line-height: var(--lh-auto);
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}